@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

body {
    color: #737171;
}

.flex-container {
    display: flex;

}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}

li {
    float: left;
    display: block;
    padding: 8px;
    font-size: small;
}

.boxnav {
    width: 1240px;
    height: 79px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
}

.flex-container>div {

    margin: 8px;
    padding: 10px;
    height: 27px;

    font-family: poppins;
    font-size: 20px;
}

.gradient-text1 {
    background: linear-gradient(#444557, #444557);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.gradient-text2 {
    background-image: linear-gradient(#303ABB, #3CA5C2);
    -webkit-background-clip: text;
    color: transparent;
}

.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    padding: 5px;
    width: 160px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}

.b1 {
    width: 302px;
    height: 56px;
    border-radius: 6px;
    background: linear-gradient(91.59deg, #444BAB 1.85%, #3CA5C2 99.69%);
}

.b2 {
    width: 169px;
    height: 30px;
    border-radius: 6px;
    background: linear-gradient(91.59deg, #444BAB 1.85%, #3CA5C2 99.69%);
    text-align: center;
    float: right;

}

.know {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 149.8%;
    /* or 30px */
    margin-top: 10px;
    justify-content: end;
    color: #444BAB;
}

.pp {
    font-family: 'Gilroy-Bold';
    font-size: 18.7544px;
    line-height: 22px;
    color: #444BAB;
}

select {
    border: none;
    color: inherit;
    border-radius: 5px;
}

select:focus {
    outline: none;
}

.box1 {
    position: absolute;
    width: 235px;
    height: 489px;
    left: 959px;
    background: #FFFFFF;
    border: 1px;
}



.form1 {
    width: 393px;
    height: 443px;
    margin: 5px;
    margin-left: 10px;
    padding-left: 18px;
    background: #FFFFFF;
    border: 1px solid rgba(174, 178, 203, 0.22);
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.overlay {
    z-index: -5;
    right: 0;
    left: 15;
    top: 0;

}

.checkout {

    width: auto;
    height: 58px;
    left: 0px;
    margin-top: 33px;
    text-align: center;
    background: linear-gradient(180deg, #B0DEE7 -35.78%, rgba(176, 222, 231, 0) 174.51%);
}

.paths {
    text-align: center;
}

.grid3 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 80px;
    margin-right: 280px;
    padding: 5px;
    width: 999px;

}

.boxgrid {
    width: 270px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

#impact{
    display: flex;
    
    justify-content: space-around;
    margin-bottom: 6vw;
    margin-top: 3vw;
}
#16{
    text-align: center;
    margin-left: 8vw;
    display: block;
}
.numbers{
    color: #444bab;

}
.offerings{
    display: flex;
    flex-direction: column;
    
    

}
/* .college{
    display: flex;
    flex-direction: column;
    width: 58%;
}
.college h4{
    color: #4f516b;
    font-family: Poppins-SemiBold;
    font-size: 2vw;
    margin-bottom: 0;
    margin-top: 0;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}
.college p{
    display: block;

}
#btn3{
    border-radius: 4px;
    border-color: #303ABB;
}

.collegeimg{
float: right;
}

.hire{
    display: block;

}
.alumini{
    display: block;
    
} */

.university{
    display: flex;
    margin-top: 10vh;
    margin-left: 10%;
}
.university img{
    width: 100%;
    justify-content: left;
}
.universityDetails{
    margin-left: 2%;
}
.learning-our{
    font-size: x-large;
    font-weight: 300;
}

.hire{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hire img{
    width:100%;

}
.hireDetail{
    margin-right: 15%;
}
.know-more{
    border: 2px solid blue;
    width: 35%;
    padding: 10px 25px 10px 25px;
    text-align: center;
    border-radius: 10px;
}
.aluminiWork{
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin: 5%; */
}
.conpany-details{
    /* width: 55%; */
    line-height: 25px;
}
.company-icon{
    width: 45%;
    display: grid;
    margin-left: 10%;
    grid-template-columns: auto auto auto;
}
.company-icon img{
    width: 100%;
}

.successStory{
    width: 100%;
    margin-top: 10vh;
}
.successHeading{
    text-align: center;
}


.offering h2 {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 149.8%;
    /* identical to box height, or 30px */
  
    text-align: center;
  
    color: #444cab;
  }
  
  .offering-title {
    margin-bottom: 90px;
  
    font-weight: 600;
    font-size: 2.1rem;
    text-align: center;
    line-height: 149.8%;
    /* identical to box height, or 54px */
  
    color: #444557;
  }
  
  .offer-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  
  .offer-card-content h3 {
    font-weight: 600;
    font-size: 1.9rem;
    margin-bottom: 30px;
    line-height: 149.8%;
    /* identical to box height, or 45px */
  
    color: #4f516b;
  }
  
  .offer-card-content p {
    width: 653px;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 30px;
    line-height: 149.8%;
    /* or 27px */
  
    color: #505050;
  }
  
  .alumni-work {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .group-logo img {
    width: 1000px;
    max-width: 700px;
  }
  
  .alumni-content {
    padding-left: 8rem;
    padding-right: 4rem;
  }
  
  .alumni-content h2 {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 149.8%;
    /* identical to box height, or 30px */
  
    text-align: left;
    margin-bottom: 20px;
  
    color: #444bab;
  }
  
  .alumni-content h1 {
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 2rem;
    line-height: 149.8%;
    /* or 54px */
  
    color: #4f516b;
  }
  
  .alumni-content p {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 149.8%;
    /* or 30px */
  
    color: #444557;
  }
  
  .alumni-stories {
    position: relative;
    padding: 2rem 5rem;
    padding-right: 2.8rem;
    text-align: left;
  }
  
  .succ-stories {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 110px;
  }
  
  .alumni-story {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .alumni-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4rem;
  }
  
  .alumni-img-logo {
    width: 120px;
    margin-bottom: 20px;
  }
  
  .alumni-company {
    width: 120px;
  }
  
  .quotes {
    width: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .para-light {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 163.8%;
    /* or 25px */
  
    text-align: center;
  
    color: #505050;
  }
  
  .para-dark {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 149.8%;
    /* or 27px */
    color: #000000;
  }
  
  .alumni-name {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
  }
  
  .alumni-quote {
    margin-bottom: 30px;
  }
  
  .alumni-name img {
    width: 20px;
    margin-left: 10px;
  }
  
  .leadr-team-user {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(
      96.55deg,
      rgba(62, 142, 188, 0.62) 0%,
      rgba(63, 126, 184, 0.536146) 30.88%,
      rgba(65, 106, 179, 0.429948) 84.64%,
      rgba(67, 81, 173, 0.301779) 99.02%,
      rgba(68, 75, 171, 0.67) 102.21%
    );
    padding: 6rem 0rem;
  }
  
  .leadr-team {
    text-align: center;
  }
  
  .leadr-team-card {
    background: #ffffff;
    width: 25%;
    padding-top: 6rem;
    width: 368px;
    height: 552px;
    border: 1px solid rgba(132, 144, 199, 0.35);
    position: relative;
  }
  
  .leadr-team-card h4 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 149.8%;
    /* or 24px */
  
    color: #272834;
  }
  .user {
    width: 120px;
    position: absolute;
    top: -40px;
    left: 123px;
  }
  
  .user-status {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 149.8%;
    /* or 18px */
  
    color: #67686b;
  }
  
  .user-values {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 163.8%;
    padding: 3rem 1rem;
    /* or 25px */
  
    text-align: center;
  
    color: #505050;
  }
  
  .icons img {
    width: 30px;
    margin: 0rem 0.2rem;
  }
  
  .own-succ-stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px;
    padding-top: 6rem;
  }
  
  .own-succ-stories h1 {
    width: 509px;
    height: 45px;
    font-weight: 600;
    font-size: 30px;
    line-height: 149.8%;
    text-align: center;
    color: #4f516b;
    margin-bottom: 15px;
  }
  
  .own-succ-stories p {
    width: 328px;
    height: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 149.8%;
    padding-bottom: 40px;
    text-align: center;
    color: #4359af;
    margin-bottom: 14px;
  }
  
  .own-trial {
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding-right: 10px;
    padding-left: 20px;
    background: white;
    border-radius: 6px;
    height: 60px;
    width: 609px;
    margin-bottom: 30px;
  }
  
  .own-succ-stories button {
    width: 248px;
    height: 49px;
    background: linear-gradient(93.44deg, #444bab -6.8%, #3ca5c2 186.94%);
    border-radius: 6px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 149.8%;
    color: #ffffff;
  }
  
  .sub-footer {
    display: flex;
    font-family: "Poppins", sans-serif;
    align-items: flex-start;
    justify-content: center;
    padding-top: 60px;
    height: 519px;
    background: #ffffff;
    box-shadow: inset 0px 6px 5px #ebecff;
  }
  
  .first-sec {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 157px;
  }
  
  .first-sec h3 {
    width: 368px;
    height: 90px;
    font-weight: 600;
    font-size: 30px;
    line-height: 149.8%;
    margin-bottom: 20px;
    color: #4f516b;
  }
  
  .first-sec p {
    width: 336px;
    height: 22px;
    font-size: 20px;
    line-height: 149.8%;
    color: #505050;
    margin-bottom: 50px;
    font-weight: 500;
  }
  
  .link-1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .link-1 ul {
    list-style: none;
  }
  
  .link-1 ul li {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 149.8%;
    /* identical to box height, or 27px */
  
    color: #4f516b;
  }
  
  .link-1a + .link-1a {
    margin-left: 30px;
  }
  
  .second-sec {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 71px;
  }
  
  .share {
    display: flex;
    justify-content: space-between;
    width: 390px;
  }
  
  .second-sec img {
    height: 40px;
    align-self: flex-start;
    margin-bottom: 20px;
    width: 50%;
  }
  
  .second-sec p {
    width: 466px;
    height: 48px;
    font-size: 16px;
    line-height: 149.8%;
    margin-bottom: 40px;
    color: #505050;
  }
  
  .share img {
    cursor: pointer;
    height: 60px;
    width: 60px;
  }
  
  .second-sec button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 366px;
    height: 78px;
    background: #3a3f8e;
    border-radius: 10px 10px 0px 0px;
    align-self: flex-end;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 22px;
    line-height: 26px;
    border: none;
    color: #ffffff;
    margin-top: 154px;
  }
  
  .second-sec button img {
    margin-bottom: 0;
    margin-top: 20px;
    margin-right: 30px;
    width: 10%;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #848dc7;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-top: 36px;
    padding-bottom: 36px;
    color: #66747b;
  }
  
  .dot {
    width: 16px;
    height: 16px;
    background: #c4c4c4;
    border-radius: 50%;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
  }
  
  .dots {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-right: 10px;
  }
  
  .dot1 {
    background-color: #3e8ebc;
  }
  
  .get-touch {
    background: #f3f4ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
  }
  
  .touch-form {
    margin-left: 100px;
  }
  
  .get-touch label {
    color: #000000;
  }
  
  .get-touch img {
    width: 100%;
    max-width: 500px;
  }
  
  .btn-contact {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 149.8%;
    /* or 30px */
    margin-top: 30px;
  
    color: #ffffff;
    padding: 0.8rem 3rem;
  }
  
  .blogs-section {
    display: flex;
    justify-content: center;
    padding: 5rem 0rem;
  }
  
  .blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1282px;
    font-family: "Poppins", sans-serif;
  }
  
  .sub-para {
    width: 715px;
    height: 24px;
  
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    line-height: 149.8%;
    /* or 27px */
    margin-bottom: 40px;
  
    text-align: center;
  
    color: #000000;
  }
  
  .blog-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .blog-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 352px;
    height: 471px;
    background: #ffffff;
    border: 1px solid rgba(132, 144, 199, 0.35);
    margin-right: 30px;
    cursor: pointer;
  }
  
  .blog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .blog-content h3 {
    width: 284px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
    line-height: 149.8%;
    margin-bottom: 12px;
    /* or 27px */
    color: #4f516b;
  }
  
  .blog-content p {
    width: 316px;
    height: 75px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 149.8%;
    /* or 24px */
    color: #5a5959;
    padding-left: 18px;
  }
  
  .zoomin {
    box-sizing: border-box;
    width: 418px;
    height: 585px;
  
    background: #ffffff;
    border: 1px solid rgba(132, 144, 199, 0.35);
  }
  
  .zoom {
    padding-left: 50px;
  }
  
  .zoom-img {
    padding-left: 10px;
    margin-bottom: 55px;
  }
  
  .mentor-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8rem 5.2rem;
  }
  
  .mentor-content p {
    margin-bottom: 20px;
    padding-right: 9rem;
  }
  
  .mentor {
    width: 20%;
    max-width: 400px;
    position: absolute;
    top: 40px;
    left: -50px;
  }
  
  .quotes1 {
    width: 5%;
    max-width: 40px;
    position: absolute;
    top: 14px;
    left: 120px;
  }
  
  .mentor-card {
    background: #ffffff;
    box-shadow: 0px 2px 10px 5px #e6e6ea;
    border-radius: 6px;
    position: relative;
  }
  
  .btn-teach {
    padding: 1rem 3rem;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 149.8%;
    /* or 30px */
  
    color: #ffffff;
  }
  
  .mentor-info {
    padding-left: 9rem;
    padding-right: 1rem;
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
    position: relative;
  }
  
  .mentor-para {
    font-weight: 400;
    font-size: 0.89rem;
    line-height: 149.8%;
    margin-bottom: 30px;
    padding-right: 2rem;
    /* or 19px */
  
    color: #000000;
  }
  
  .mentor-status {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 149.8%;
    padding-right: 2rem;
    /* or 21px */
  
    color: #000000;
  }
  
  .hamburger {
    display: none;
    width: 50px;
  }
  
  @media (max-width: 600px) {
    html {
      font-size: 2rem;
    }
  
    .container {
    }
  
    .logo {
      margin: 0 auto;
      width: 40%;
      max-width: 500px;
    }
  
    .hamburger {
      display: inline;
    }
  
    .navbar .nav-items,
    .right-nav button {
      display: none;
    }
  
    .form-section {
      flex-direction: column;
      align-items: center;
    }
  
    .form-heading {
      text-align: center;
    }
  } ;